version: "3.9"

services:
  api:
    build: .
    container_name: henna_api
    env_file:
      - .env.docker
    ports:
      - "3000:3000"
    depends_on:
      - db
    networks:
      - henna_net

  db:
    image: postgres:15
    container_name: henna_db
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - henna_net

volumes:
  postgres_data:

networks:
  henna_net:
